spring:
  application:
    name: arenda

  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: ${PORT:8080}


telegram:
  bot:
    username: MMAAKKLLEERR_bot
    token: 8558268091:AAEE3UIgUMl9GVbhwzIwWWDVzkf6A_Jg6uY
